@import url('https://fonts.googleapis.com/css2?family=Ubuntu&family=Varela+Round&display=swap');



body{
    background-color: antiquewhite;

}

*{
    margin: 0;
    padding: 0;

}

nav{
    font-family: 'Ubuntu', sans-serif;
}

nav ul{
    display: flex;
    list-style-type: none;
    height: 65px;
    background-color: black;
    color: white;
    align-items: center;


}

nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;    
}
/* we are making the body having song list with 2 sections */
.container{
    min-height: 72vh;
    background-color: black;
    color: white;
    font-family: 'Varela Round', sans-serif;
    display: flex;
    margin: 23px auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-image: url('bg.jpg');

}

.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    flex-direction: column;
}

.icons{
    margin-top: 14px;
}

.icons i{
    cursor: pointer;
}

#myProgressBar{
    width: 80vw; 
    cursor: pointer;   
}

.songItemContainer{
    margin-top: 74px;
}

.songItem{
    height: 50px;
    display: flex;
    background-color: white;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;    
    border-radius: 34px;
    padding-right: 15px;
    opacity: 0.8;
}


.songItem img{
    height: 100%;
    margin: 0 23px;
    border-radius: 34px;

}

.timestamp{
    margin: 0 23px;  
}
.songItem i{
    cursor: pointer;  
}

.songInfo{
    position: absolute;
    left: 10vw;
    font-family: 'Varela Round', sans-serif;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.4s ease-in;
    padding-right: 10px;
}




/* 

                            SOME IMPORTANT LESSONS

diplay: flex => parent container ke child element flexible ho jate hai and easily 
                positon par set ho sakte hai.

list-style-type: none => Unordered List ke bullets hide ho jati hai.

font-weight: bolder => kisi perticular element ke text ko bold karne ke liye

padding: 0 12px => up and down 0px ki padding and left and right 12px ke padding

imp question => what is the difference b/w margin and padding ?

position: sticky => agar hum kisi element ki position sticky karte hai to fir vo perticular
                    element screen par perticular position par stick ho jata hai.

min-height: 75vh => perticular element ki height scree  ke height ke 75 % rahegi

height: 75 % => perticular element ki height uske parent se 75 % rahegi

align-items: center => isse perticular item center par aajata hai, but ye kabhi kabhi kaam
                        nhi karta hai thus parent element par ye set karna padhta hai
                            display: flex;
                            justify-content: center;
                            align-items: center;  
                            
flex-direction: column => isse humare container ke elements vertically arrange ho jate
                            hai. if hum flex-direction: row => karte hai container ke saare
                            elements horizontally arranged ho jate hai.

position: absolute => isse child element container ke perticular position par stick ho jata 
                            hai (basically hum iske saath top|bottom|left|right dete hai.


 












*/